body, h1, p{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

header{
    background: #333;
    color: rgb(255, 104, 104);
    padding: 20px;
}

footer{
    margin-top: 20px;
    font-size: small;
    color: rgb(186, 255, 186);
}

.btn{
    background:white;
    color: blue;
    padding: 10px 20px;
    border:none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

.btn:hover{
    background: #333;
}